/* Sign In / Sign Up */
html {
  font-size: 62.5%;
}

body {
  background-image: url("https://images.unsplash.com/photo-1508780709619-79562169bc64?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8d29yayUyMGxhcHRvcHxlbnwwfHwwfHx8MA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
}
main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container,
.container-2 {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 400px;
  min-height: 400px;
  border-radius: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 1);
  flex-shrink: 1;
}
input,
select {
  width: auto;
  height: 30px;
  border-radius: 5px;
}

a {
  margin-top: 20px;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
h1 {
  font-size: 4rem;
}

label {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 20px;
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

button {
  background-color: blueviolet;
  padding: 8px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition-duration: 0.5s;
}

button:hover {
  background-color: rgb(51, 0, 99);
}

button:active {
  transform: scale(0.9);
}

input:active {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

h1 {
  color: blueviolet;
}
h1 span {
  color: red;
}

@media (width < 460px) {
  input,
  select {
    width: 90%;
    height: 30px;
    border-radius: 5px;
  }

  h1 {
    font-size: 3rem;
  }

  a {
    font-size: 1rem;
  }
  label {
    font-size: 1.2rem;
  }
  .container-2 {
    width: 300px;
    height: auto;
    padding: 15px;
  }

  .container {
    width: 300px;
    min-height: 350px;
    padding: 15px;
  }
}
